<div class="wrapper">
  <header>
    <div class="page-header">
      <h1 class="text-center">Twitter Clone <small>(Casetabs Assessment)</small></h1>
    </div>
  </header>
  <div id="app">
  </div>
</div>
